:root {
--xxs: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05); 
--xs: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1); 
--sm: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1); 
--md: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2); 
--lg: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.25); 
--xl: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); 
--xxl: 0 1.25rem 1.75rem rgba(0, 0, 0, 0.4); 
--xxxl: 0 1.5rem 2.25rem rgba(0, 0, 0, 0.5);
}
