:root {
  --base-white: #fafafa;
  --base-black: #3e3d3a;

/* Neutrals */
  --neutrals-1000: #4b4946;
  --neutrals-900: #5a5755;
  --neutrals-800: #6a6765;
  --neutrals-700: #7c7776;
  --neutrals-600: #8d8989;
  --neutrals-500: #9e9c9b;
  --neutrals-400: #b0aeae;
  --neutrals-300: #c2c1c1;
  --neutrals-200: #d5d4d4;
  --neutrals-100: #e7e7e7;

 /*Orange */
  --primary-1000: #461304;
  --primary-900: #822B0C;
  --primary-800: #A1320B;
  --primary-700: #CC3F02;
  --primary-600: #FF5A00;
  --primary-500: #FF740A;
  --primary-400: #FF9332;
  --primary-300: #FFBC6D;
  --primary-200: #FFD8A5;
  --primary-100: #FFEDD3;

/* Dark Blue */
  --primary-alt-1000: #08283B;
  --primary-alt-900: #0F4C6B;
  --primary-alt-800: #0A5B82;
  --primary-alt-700: #076C9D;
  --primary-alt-600: #0787C2;
  --primary-alt-500: #14A9E3;
  --primary-alt-400: #3DC0F3;
  --primary-alt-300: #80D5F9;
  --primary-alt-200: #BCE7FB;
  --primary-alt-100: #E1F3FD;
  --primary-alt: #08283b;

/* Light Blue */
  --secondary-1000: #053762;
  --secondary-900: #084c88;
  --secondary-800: #0a61ad;
  --secondary-700: #0c76d2;
  --secondary-600: #138af2;
  --secondary-500: #389df4;
  --secondary-400: #7dbff8;
  --secondary-300: #9ecffa;
  --secondary-200: #bedffb;
  --secondary-100: #dfeffd;
  --secondary: #5daff6;

/*  Yellow (ACCENT COLOR) */
  --accent-1000: #664c00;
  --accent-900: #8c6900;
  --accent-800: #b28500;
  --accent-700: #d8a200;
  --accent-600: #ffc824;
  --accent-500: #ffd148;
  --accent-400: #ffda6d;
  --accent-300: #ffe391;
  --accent-200: #ffedb6;
  --accent-100: #fff6da;
  --accent: #febe00;

/* Ultra Marine */
  --secondary-alt-1000: #02065b;
  --secondary-alt-900: #03087d;
  --secondary-alt-800: #030b9e;
  --secondary-alt-700: #0510e6;
  --secondary-alt-600: #1823fa;
  --secondary-alt-500: #3e47fb;
  --secondary-alt-400: #656cfc;
  --secondary-alt-300: #8b91fd;
  --secondary-alt-200: #b2b6fd;
  --secondary-alt-100: #d8dafe;
  --secondary-alt: #040dbf;

/* Green */
  --green-1000: #055d17;
  --green-900: #07801f;
  --green-800: #09a228;
  --green-700: #0bc430;
  --green-600: #0de738;
  --green-500: #25f34e;
  --green-400: #6cf788;
  --green-300: #91f9a6;
  --green-200: #b5fbc3;
  --green-100: #dafde1;
  --green: #47f56a;

/* Red */
  --red-1000: #660000;
  --red-900: #8c0000;
  --red-800: #b30000;
  --red-700: #d90000;
  --red-600: #ff2424;
  --red-500: #ff4949;
  --red-400: #ff6d6d;
  --red-300: #ff9292;
  --red-200: #ffb6b6;
  --red-100: #ffdbdb;
  --red: #ff0000;
}