:root {
    /* Body */
    --lh-body-xs: 0.75; /* 12px */
    --lh-body-sm: 0.875; /* 14px */
    --lh-body-md: 1.125; /* 18px */
    --lh-body-lg: 1.375; /* 22px */
    --lh-body-xl: 1.5; /* 24px */
    --lh-body-xxl: 1.75; /* 28px */
    --lh-body-xxxl: 2.25; /* 36px */

    /* Heading */
    --lh-headline-xxxs: 1.5; /* 24px */
    --lh-headline-xxs: 1.75; /* 28px */
    --lh-headline-xs: 2.5; /* 40px */
    --lh-headline-sm: 3; /* 48px */
    --lh-headline-md: 3.25; /* 52px */
    --lh-headline-lg: 3.75; /* 60px */
    --lh-headline-xl: 4.25; /* 68px */
    --lh-headline-xxl: 5; /* 80px */
    --lh-headline-xxxl: 7.25; /*  116px*/
    --lh-headline-xxxxl: 7.5; /*  120px*/
}